﻿@model MongoDbProj.Models.Proizvod

@{
    ViewData["Title"] = "idiNaPrikaziFormuZaPretragu";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>Au Form Wizard</title>

    <!-- Icons font CSS-->
    <link href="~/pretraga/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/pretraga/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/pretraga/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/pretraga/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/pretraga/css/mainn.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-color-1 p-t-165 p-b-100">
        <div class="wrapper wrapper--w680">
            <div class="card card-2">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <form asp-action="pretraziProizvod" method="post">
                                <div class="input-group">
                                    <label asp-for="Naziv" class="label">Naziv:</label>
                                    <input class="input--style-1" asp-for="Naziv"  >
                                </div>
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label asp-for="Cena" class="label">Cena od:</label>
                                            <input class="input--style-1" asp-for="Cena"  >
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label asp-for="SrednjaOcena" class="label">Cena do:</label>
                                            <input asp-for="SrednjaOcena" class="input--style-1" >
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <label asp-for="Kategorija" class="label">Kategorija:</label>
                                    <input class="input--style-1" asp-for="Kategorija"  >
                                </div>
                                <input class="btn-submit" type="submit" value="Pretrazi" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="~/pretraga/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/pretraga/vendor/select2/select2.min.js"></script>
    <script src="~/pretraga/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/pretraga/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="~/pretraga/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/pretraga/vendor/datepicker/moment.min.js"></script>
    <script src="~/pretraga/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/pretraga/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
