﻿@model IEnumerable<MongoDbProj.Models.Proizvod>

@{
    ViewData["Title"] = "pikaziNajbljeOcenjeneProizvode";
}



<!doctype html>
<html lang="en">
<head>
    <title>Table 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/table/css/still.css">

    <!-- za zvezdu,lupu,korpu-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-4">
                    <h2 class="heading-section">Najbolje ocenjeni proizvodi</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="table-wrap">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr>

                                    <th>&nbsp;</th>
                                    <th>Naziv</th>
                                    <th>Sifra</th>
                                    <th>Cena</th>
                                    <th>Kategorija</th>
                                    <th>Broj dostupnih</th>
                                    <th>Srednja ocena</th>
                                    <th>&nbsp;</th>


                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    @if (item != null)
                                    {
                                        <tr class="alert" role="alert">

                                            <td>
                                                <div class="img" style="background-image: url('/images/@item.PutanjaSlike'); "></div>

                                            </td>

                                            <td>
                                                <div class="email">
                                                    @item.Naziv
                                                </div>
                                            </td>
                                            <td>
                                                @item.Sifra
                                            </td>
                                            <td class="quantity">
                                                @item.Cena
                                            </td>
                                            <td class="quantity">
                                                <form action="../../Proizvod/pikaziProizvodePoKategoriji" method="get">

                                                    <a value="@item.Kategorija" name="Kategorija" href="../../Proizvod/pikaziProizvodePoKategorijiZaNeLogKor?Kategorija=@item.Kategorija">#@item.Kategorija </a>
                                                </form>

                                            </td>
                                            <td>
                                                @item.Kolicina
                                            </td>

                                            <td>

                                                @item.SrednjaOcena

                                            </td>
                                            <td>
                                                <form action="../../Proizvod/prikaziKomentare" method="get">
                                                    <input name="Id" asp-for="@item.Id" value="@item.Id" hidden />
                                                    <button href="../../Proizvod/prikaziKomentare" name="Id" value="@item.Id">
                                                        Komentari
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/table/js/jquery.min.js"></script>
    <script src="~/table/js/popper.js"></script>
    <script src="~/table/js/bootstrap.min.js"></script>
    <script src="~/table/js/main.js"></script>

</body>
</html>
