﻿@model IEnumerable<MongoDbProj.Models.Proizvod>

@{ ViewData["Title"] = "prikaziProizvode"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>


    <!--prikazuje adminu proizvode-->
    <link href="~/css/adminPrikaz.css" rel="stylesheet" />


</head>
<body id="page-top" style=" height: 100%; width: 100%;">


    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin nalog</h3>
            </div>

            <ul class="list-unstyled components">


                <li>
                    <a href="../Korisnik/prikaziKorisnike">Korisnici</a>
                </li>
                <li>
                    <a href="../Proizvod/prikaziProizvode">Proizvodi</a>
                </li>
            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content">
            <div>
                <svg " xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                    <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                </svg>
                <a href="../Proizvod/idiNaKreirajProizvod">Dodaj proizvod</a>
            </div>
           
            <table class="table">
                <thead>
                    <tr>

                        <th scope="col">Id</th>
                        <th scope="col">Sifra</th>
                        <th scope="col">Naziv</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kategorija</th>
                        <th scope="col">Kolicina</th>
                        <th scope="col">Srednja ocena</th>
                        <th scope="col">Putanja slike</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                @if(item != null)
                {
                    <tr>

                        <td>@item.Id</td>
                        <td>@item.Sifra</td>
                        <td>@item.Naziv</td>
                        <td>@item.Cena</td>
                        <td>@item.Kategorija</td>

                        <td>@item.Kolicina</td>
                        <td>@item.SrednjaOcena</td>

                       
                        <td>@item.PutanjaSlike</td>




                        <td>
                            <form action="obrisiProizvod">
                                <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                                <input style="width: 100%; background-color: #035949; color: snow" type="submit" value="Obriši proizvod" />
                            </form>

                            <form action="idiNaIzmeniProizvod">
                                <input type="text" name="Id" placeholder="Id" value="@item.Id" hidden="hidden" />
                                <input style="width: 100%; background-color: #035949; color: snow " type="submit" value="Izmeni proizvod" />
                            </form>
                        </td>
                    </tr>
                        }                    
                    }
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
