﻿@model MongoDbProj.Models.Korisnik

@{ ViewData["Title"] = "idiNaIzmeniKorisnik"; }



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/css/proizvodd.css" />
</head>
<body class="bb">
   
    <form asp-action="izmeniKorisnika">
        <div class="formaL">
            <div class="form-group row" hidden>
                <label asp-for="Id" class="col-sm-2 col-form-label">id</label>
                <div class="col-sm-10">
                    <input asp-for="Id" class="form-control" id="idAdmina">
                </div>
            </div>
            <div class="form-group row" id="divEmail">
                <label for="inputEmail3" asp-for="Email" id="labEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" asp-for="Email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>

            <div class="form-group row">
                <label for="inputPassword3" asp-for="Password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password"  asp-for="Password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Sacuvaj" class="btn btn-primary" />
            </div>

        </div>
    </form>
</body>
</html>