﻿@model MongoDbProj.Models.Prodavnica

@{
    ViewData["Title"] = "idiNaKreirajProdavnicu";
}

<h1 style="background-color:lightgreen">Kreiraj prodavnicu </h1>
<hr />
<h4>Nova prodavnica:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="kreirajPrpdavnicu" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <label asp-for="Sifra   " class="control-label"></label>
                <input asp-for="Sifra" class="form-control" />
                <span asp-validation-for="Sifra" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
               
                <label asp-for="Ime   " class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <hr />
            <br>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


