﻿<!DOCTYPE html>
<html   style=" height: 100%; width: 100%;" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/template/assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/template/css/styles.css" rel="stylesheet" />
    <link href="~/template/css/stil.css" rel="stylesheet" />

</head>
<body id="page-top" style=" height: 100%; width: 100%;">
    <div class=".slikaDiv" style="background-size: cover; background-image: url('/template/assets/img/img9.png'); height: 100%; width: 100%;">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <!-- Navigation  <a class="navbar-brand" href="#page-top">Muzicki svet</a>-->
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="../Proizvod/pikaziNajbljeOcenjeneProizvode">Proizvodi</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Korisnik/idiNaLogKorisnika">Korisnik</a></li>
                        <li class="nav-item"><a class="nav-link" href="../Admin/idiNaLogAdmin">Admin</a></li>

                        <!--  <li class="nav-item"><a class="nav-link" href="../Korisnik/kreirajKorisnika">Registruj se kao korisnik</a></li> -->
                        <!--   <li class="nav-item"><a class="nav-link" href="../Admin/idiNaRegistrujAdmin">Registruj se kao admin</a></li>  -->


                    </ul>
                </div>
            </div>
        </nav>
       

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/template/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </div>

</body>
</html>
