﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Creative - Start Bootstrap Theme</title>
   
   
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/adminPrikaz.css" rel="stylesheet" />
   

</head>
<body id="page-top" style=" height: 100%; width: 100%;" onload="go()">
    <script>
        function go() {
            window.location.href = '../Korisnik/prikaziKorisnike';
        }
    </script>
  
 
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin nalog</h3>
            </div>

            <ul class="list-unstyled components">


                <li>
                    <a href="../Korisnik/prikaziKorisnike">Korisnici</a>
                </li>
                <li>
                    <a href="../Proizvod/prikaziProizvode">Proizvodi</a>
                </li>
            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content">

        </div>
    </div>

</body>
</html>
